body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: white;
  padding: 1em; 
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content:left;
 
}

nav li {
  margin: 0 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
}

.photo-section {
  height: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1em; 
  background-color: #f7f1f3;
}

.photo-section img {
  max-width: 50%;
  margin-right: 2em;
  
}

.photo-section.reverse {
  flex-direction: row-reverse;
  background-color: rgb(176, 172, 178);
}

.photo-section.reverse img {
  margin-right: 0;
  margin-left: 2em;
}

.description {
  max-width: 50%;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}


/* Responsive Styles */
@media (min-width: 768px) {
  .photo-section {
      flex-direction: row;
  }

  .photo-section img {
      max-width: 50%;
      margin-bottom: 0;
      margin-right: 2em;
  }

  .photo-section.reverse {
      flex-direction: row-reverse;
  }

  .photo-section.reverse img {
      margin-left: 2em;
      margin-right: 0;
  }

  .description {
      max-width: 50%;
  }
}

@media (max-width: 767px) {
  nav ul {
      flex-direction: column;
  }

  nav li {
      margin: 0.5em 0;
  }

  footer {
      position: static;
      padding: 1em;
  }
}